models/
data/my_dataset/
data/dataset2/
data/input/traffic_analysis_github_version.mov
*__pycache__/
trained_models/yolo_traffic/
trained_models/yolo_traffic2/
trained_models/yolo_traffic3/
trained_models/yolo_traffic4/
trained_models/yolo_traffic5/
trained_models/yolo_traffic6/
trained_models/yolo_traffic7/
trained_models/yolo_traffic8/
trained_models/yolo_traffic9/
trained_models/yolo_traffic10/
trained_models/yolo_traffic11/
trained_models/yolo_traffic12/
trained_models/yolo_traffic13/
trained_models/yolo11n_traffic/
trained_models/yolo11n_traffic2/
trained_models/yolo11n_traffic3/
*.pt